body{
  margin: 0;
}
header {
   position: fixed;
   height: 700px;
   min-height: 500px;
   width: 100%;
   background: #161415 url(../images/best-friend.jpg) no-repeat bottom center;
   text-align: center;
}

#nav-wrap ul, #nav-wrap li, #nav-wrap a {
	 margin: 0;
	 padding: 0;
	 border: none;
	 outline: none;
}

#nav-wrap {
   font: 12px 'opensans-bold', sans-serif;
   width: 100%;
   text-transform: uppercase;
   letter-spacing: 2.5px;
   margin: 0 auto;
   z-index: 100;
   /*position: fixed;*/
   left: 0;
   top: 0;
}

#nav {
   background-color: #efefef;
   min-height: 48px;
   width: auto;
   text-align: center;
   color: #414141;
}

#nav li {
   position: relative;
   list-style: none;
   height: 48px;
   display: inline-block;
   padding: 8px 13px;
   line-height: 32px;
   text-decoration: none;
   text-align: left;
   color: #fff;
}


#about, #login{
   background: #fff;
   /*padding-top: 90px;*/
   padding: 5%;
   /*overflow: hidden;*/
}



.about-pic {
   position: relative;
   width: 120px;
   height: 120px;
   border-radius: 100%;
}

.Pet {
   border: 1pt solid grey;
   display: inline-block;
   max-width: 95%;
}

.Container {
  max-width: 100%;

  /*display: inline-block;*/
}

.pet-image, .pet-profile-image {
  max-width: 90%;
}

.good-with {
  padding-left: 10px;
}

 .Container-form {
  max-width: 85%;
  padding: 7px 7px;
  margin: 1%;
  border: 1px solid #e7e7e7;
  border-radius: 10px;
  box-shadow: 0 0 3px 1px rgba(99,99,99,0.3);
  box-sizing: border-box;
  background-color: #ffffff;
  overflow: hidden;
}

.Pets {
  height: 400px;
  width: 250px;
  padding: 7px 7px;
  margin: 1%;
  border: 1px solid #e7e7e7;
  border-radius: 10px;
  box-shadow: 0 0 3px 1px rgba(99,99,99,0.3);
  box-sizing: border-box;
  background-color: #ffffff;
  overflow: hidden;
  padding-bottom: 5%;
}

.bio {
  font-family: 'Prata', sans-serif;
  font-size: 12pt;
  text-transform: none;
  color: #5c5c70;
  line-height: 25px;
}

.name {
  text-transform: none;
  font-family: 'Prata', sans-serif;
  font-size: 25pt;
  color: #5c5c70;
}

 .main-about {
   text-transform: none;
   font-family: 'Prata', sans-serif;
   color: #5c5c70;
   padding: 0 10%;
 }

 .main-about p {
   font-size: 12pt;
 }

.back-button {
  font-family: 'Prata', sans-serif;
  padding: 7px 35px;
  color: #5c5c70;
  background-color: white;
  border-radius: 25px;
}

.petprofile, table {
  text-transform: none;
  font-family: 'Prata', sans-serif;
}
.petprofile a {
  text-transform: none;
  font-family: 'Scada', sans-serif;
  font-size: 12pt;
  color: #5c5c70;
}

.pet-profiles{
  display: inline-block;
}

#pets, #login {
  margin-left: 2%;
}

#petProf {
   display: inline-block;
}
