body{
  margin: 0;
}
header {
   position: fixed;
   height: 700px;
   min-height: 500px;
   width: 100%;
   background: #161415 url(../images/best-friend.jpg) no-repeat bottom center;
   text-align: center;
}

#nav-wrap ul, #nav-wrap li, #nav-wrap a {
	 margin: 0;
	 padding: 0;
	 border: none;
	 outline: none;
}

#nav-wrap {
   font: 12px 'opensans-bold', sans-serif;
   width: 100%;
   letter-spacing: 2.5px;
   left: 0;
   top: 0;
}


#nav {
  text-transform: uppercase;
   background-color: #EAECED;
   min-height: 48px;
   width: auto;
   text-align: center;
   color: white;
   padding-right: 15px;
}

#nav li {
   position: relative;
   list-style: none;
   height: 48px;
   display: inline-block;
   padding: 8px 13px;
   line-height: 32px;
   text-align: left;
   color: #fff;
}


#about, #login, #pets{
   background: #fff;
   padding: 5%;
   padding-top: 60px;
}

.about-pic {
   position: relative;
   width: 120px;
   height: 120px;
   border-radius: 100%;
}

.Pet {
   border: 1pt solid grey;
   display: inline-block;
   max-width: 95%;
}

.Container {
  max-width: 100%;
}

.pet-image, .pet-profile-image {
  max-width: 90%;
}

.good-with {
  padding-left: 10px;
}

 .Container-form, #shelter-search {
  max-width: 85%;
  padding: 7px 7px;
  margin: 1%;
  border: 1px solid #e7e7e7;
  border-radius: 10px;
  box-shadow: 0 0 3px 1px rgba(99,99,99,0.3);
  background-color: #ffffff;
  overflow: hidden;
  color: #2C415E;
  font-family: 'Prata', sans-serif;
}

.shelter-form {
  text-align: center;
  margin: 0 5%;
}

.shelter-table {
  margin-top: 25px;
  margin-left: 25px;
}

.rounded {
  border-radius: 10px;
  padding: 1px 5px;
}

#submit-space {
  margin-left: 5%;
}

#pet-form {
  margin-top: 17px;
  padding: 4px;
  border-radius: 5px;
  background-color: white;
  border: 2px solid #e7e7e7;
}

.Shelters {
  margin-top: 5%;
  padding: 0 5%;
}

.ShelterContainer {
  padding-top: 1%;
  line-height: 25px;
  font-family: 'Prata', sans-serif;
}

.Pets {
  height: 400px;
  width: 250px;
  padding: 7px 7px;
  margin: 1%;
  border: 1px solid #e7e7e7;
  border-radius: 10px;
  box-shadow: 0 0 3px 1px rgba(99,99,99,0.3);
  background-color: #ffffff;
  overflow: hidden;
  padding-bottom: 5%;
}

.bio {
  font-family: 'Prata', sans-serif;
  font-size: 12pt;
  text-transform: none;
  color: #5c5c70;
  line-height: 25px;
}

.name {
  text-transform: none;
  font-family: 'Prata', sans-serif;
  font-size: 25pt;
  color: #5c5c70;
}

 .main-about {
   text-transform: none;
   font-family: 'Prata', sans-serif;
   color: #5c5c70;
   padding: 0 10%;
 }

 .main-about p {
   font-size: 12pt;
 }

.back-button {
  font-family: 'Prata', sans-serif;
  padding: 7px 35px;
  color: #5c5c70;
  background-color: #EAECED;
  border-radius: 25px;
}

.petprofile, table {
  text-transform: none;
  font-family: 'Prata', sans-serif;
}

table {
    background: white;
    border: 1px solid #c3c3c3;
    border-radius: 10px;
    border-collapse: separate;
}

.petprofile a {
  text-transform: none;
  font-family: 'Scada', sans-serif;
  font-size: 12pt;
  color: #5c5c70;
}

.pet-profiles{
  display: inline-block;
}

#pets, #login {
  margin-left: 2%;
}

#petProf {
   display: inline-block;
}
